
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table">
    <thead>
        <tr>
            <th>
                first name
            </th>
            <th>
                last name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var obj in TempData["Students"] as  List<Student>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => obj.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => obj.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@obj.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@obj.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>